body {
   background-color: rgb(250, 250, 127);
}

h1 {
   margin: 0;
   text-transform: uppercase;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%)
}

h1:hover {
   font-size: 100px;
}

.block {
   width: 500px;
   height: 300px;
   background-color: red;
}

.box {
   width: 130px;
   height: 30px;
   background-color: yellow;
   border: 1px solid brown;
   border-radius: 10px;
   cursor: pointer;
   margin: 0;
   text-transform: uppercase;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%)
}

.box:hover {
   width: 200px;
   height: 100px;
   background-color: red;
   color: white;
}